@tailwind base;
@tailwind components;
@tailwind utilities;

.reset-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

* {
  box-sizing: border-box;
  min-width: 0;
}

a {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  @apply h-3 w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply h-3 bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply h-3 w-1 cursor-default rounded-full border-4 border-solid border-white bg-slate-200 hover:w-3 hover:border-2 hover:bg-slate-300 dark:border-slate-900 dark:bg-slate-700 dark:hover:bg-slate-600;
}
