@tailwind base;
@tailwind components;
@tailwind utilities;

.reset-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

* {
  box-sizing: border-box;
  min-width: 0;
}

a {
  cursor: pointer;
}

::view-transition-old(timeline) {
  animation: 0.5s ease-out both shrink;
}

::view-transition-new(timeline) {
  animation: 0.5s ease-out both grow;
}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  @apply h-3 w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply h-3 bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply h-3 w-1 cursor-default rounded-full border-4 border-solid border-white bg-slate-200 hover:w-3 hover:border-2 hover:bg-slate-300 dark:border-slate-900 dark:bg-slate-700 dark:hover:bg-slate-600;
}
