@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  @apply shadow-[0_-1px_0_0_rgba(255,255,255,0.15)];
}

@layer components {
  .btn-primary {
    @apply rounded-full bg-violet-500 py-2 px-5 font-semibold text-white shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }

  .p {
    @apply max-w-3xl text-base text-slate-600 dark:text-slate-400 lg:text-lg;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white dark:bg-slate-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply w-1 rounded-full border-4 border-solid border-white bg-slate-400 hover:w-3 hover:border-2 dark:border-slate-900 dark:bg-slate-600;
}

// ===================================================================== //

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70rem);
  }
}

@keyframes scroll-md {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-105rem);
  }
}

@keyframes scroll-3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-83.375rem);
  }
}

@keyframes scroll-3-md {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-103.375rem);
  }
}

.scroll-infinite-1 {
  animation: scroll 40s linear infinite;
}
.scroll-infinite-2 {
  animation: scroll 30s linear infinite;
}
.scroll-infinite-3 {
  animation: scroll-3 40s linear infinite;
}

@media (min-width: 1024px) {
  .scroll-infinite-1 {
    animation: scroll-md 40s linear infinite;
  }
  .scroll-infinite-2 {
    animation: scroll-md 30s linear infinite;
  }
  .scroll-infinite-3 {
    animation: scroll-3-md 40s linear infinite;
  }
}

// ===================================================================== //

#eOM4nes23vc2_to {
  animation: eOM4nes23vc2_to__to 1500ms linear infinite normal forwards;
}
@keyframes eOM4nes23vc2_to__to {
  0% {
    transform: translate(91px, 150px);
    animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
  }
  33.333333% {
    transform: translate(91px, 140px);
    animation-timing-function: cubic-bezier(0.2, 1.2, 0.5, 1.1);
  }
  66.666667% {
    transform: translate(91px, 150px);
  }
  100% {
    transform: translate(91px, 150px);
  }
}
#eOM4nes23vc3_to {
  animation: eOM4nes23vc3_to__to 1500ms linear infinite normal forwards;
}
@keyframes eOM4nes23vc3_to__to {
  0% {
    transform: translate(134px, 150px);
  }
  13.333333% {
    transform: translate(134px, 150px);
    animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
  }
  46.666667% {
    transform: translate(134px, 140px);
    animation-timing-function: cubic-bezier(0.2, 1.2, 0.5, 1.1);
  }
  80% {
    transform: translate(134px, 150px);
  }
  100% {
    transform: translate(134px, 150px);
  }
}
#eOM4nes23vc4_to {
  animation: eOM4nes23vc4_to__to 1500ms linear infinite normal forwards;
}
@keyframes eOM4nes23vc4_to__to {
  0% {
    transform: translate(193px, 150px);
  }
  26.666667% {
    transform: translate(193px, 150px);
    animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
  }
  60% {
    transform: translate(193px, 140px);
    animation-timing-function: cubic-bezier(0.2, 1.2, 0.5, 1.1);
  }
  93.333333% {
    transform: translate(193px, 150px);
  }
  100% {
    transform: translate(193px, 150px);
  }
}
