@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition duration-500 ease-in-out;
}

html,
body {
  font-family: Inter var;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white dark:bg-slate-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-slate-600 border-solid border-4 border-white rounded-full dark:border-slate-900 w-1 hover:w-3 hover:border-2;
}

// @mixin hidden {
//   transition: height 0.3s ease-out, overflow 0.3s ease-out;

//   height: 0;
//   overflow: hidden;
// }

// #navbar {
//   @apply hidden;
// }

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }
}
